.container {
    width: 80%;
    margin: 0 auto;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

section {
    width: 70%;
    margin: 0 auto;
}

.result-header,
.error {
    grid-column: 1 / -1;
    text-align: center;
}

li {
    list-style: none;
}

